body {
  margin: 100px;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  font-size: 15px;
  position: fixed;
  top: 0%;
  left: 30%;
}

#minha_foto {
  width: 300px;
  border-radius: 25%;
  margin: 15px 80px 65px 65px;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
}

#tabela {
  font-size: 15px;
  max-width: 550px;
  max-height: 500px;
  border: dotted;
}

#link {
  margin-top: 25px;
}

#lado-esquerdo {
  font-weight: bold;
  float: left;
  display: block;
  width: 60%;
  text-align: justify;
  font-size: 20px;
  font-family: serif;
  line-height: 2;
}

#lado-direito {
  color: blue;
  margin-top: 25px;
  float: right;
  font-size: 20px;
  text-align: justify;
  border: solid;
  padding: 10px;
  font-family: serif;
  display: block;
  width: 35%;
}

#rodape {
  display: inline-block;
  margin: 25px 50px 2px 50px;
}
